name: Trunk Check
on:
  pull_request: {}
jobs:
  build:
    runs-on: ubuntu-latest
    if: (github.actor != 'dependabot[bot]')
    steps:
      - uses: actions/checkout@v3.1.0

      - name: Trunk Check
        uses: trunk-io/trunk-action@v1.0.4
